.navbar{
    position: sticky;
    top: 0;
    z-index: 10; /* arbitrary value */
}
.navbar *{
    background-color: rgb(45, 28, 52);
}

.navbar img{
    width: 2.1em;
    height: 2.1em; 
}

.navlist{
    list-style-type: none;
    padding: .5%;
    padding-bottom: .25%;
    display: flex;
}

.ele_wrapper{
    display: flex;
    flex: 1;
}

.second_half{
    justify-content: flex-end;
}

.ele{
    padding: .1rem .1rem;
    padding-inline: .75rem;
    color: rgb(90, 167, 98);
    text-decoration: none;
}