

.match_container{
    border-style: dashed;
    border-color: blue;
    margin: 10%;
    padding: 3%;
}

.match_container div{
    border-style: solid;
    border-color: red;
}

/* .match_link{
    display: block;
    margin: 10%;
} */