@keyframes h1_slide{
    0% {
        transform: translateX(-1000px);
    }
    40%{
        transform: translateX(140px);
    }
    60%{
        transform: translateX(-100px);
    }

    80%{
        transform: translateX(100px);
    }
    85%{
        transform: translateX(-20px);
    }
    90%{
        transform: translateX(20px);
    }
    95%{
        transform: translateX(-10px);
    }

    100%{
        transform: translateX(0);
    }
}
@keyframes score_animation{
    0% {
        transform: translateY(0px);
    }
    25% {
        transform: translateY(-100px);
    }
    40%{
        transform: translateY(140px);
    }
    60%{
        transform: translateY(-100px);
    }

    80%{
        transform: translateY(100px);
    }
    85%{
        transform: translateY(-20px);
    }
    90%{
        transform: translateY(20px);
    }
    95%{
        transform: translateY(-10px);
    }

    100%{
        transform: translateY(0);
    }
}
.changed_score{
    animation-name: score_animation;
    animation-duration: 2.25s;
    animation-timing-function: ease-in-out;
}


h1{
    padding-left: 7.5%;
    padding-bottom: 2.5%;
    margin-bottom: 0;
    animation-name: h1_slide;
    animation-duration: 2.25s;
    animation-timing-function: ease-in-out;
}


#nogames{
    background-color: rgb(110, 40, 40);
    border-style: solid;
    border-radius: 10px;
    padding: 2.5%;
    margin-top: 3%;
    margin-bottom: 3%;
}


.match_container{
    display: flex;
    background-color: rgb(30, 22, 47);
    border-style: solid;
    border-radius: 10px;
    margin-top: 3%;
    margin-bottom: 3%;
    padding-bottom: 1.5%;
}
.match_container div{
    background-color: rgb(30, 22, 47);
}


.match_a{
    display: flex;
    flex: 1;
}
.misc_a{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.logo_a{
    flex: 2;
}
.abv_and_rec_a{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.abv_a{
    flex: 2;
}
.rec_a{
    flex: 1;
    font-size: 0.6em; 
    color: #999;
    margin: 0;
}
.score_a{
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    font-size: 250%;
}


.match_mid{
    display: flex;
    flex-direction: column;
    flex: .25;
}
.match_status{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90%;
    flex: 5.5; /* why this num? trial and error :) */
}
.match_loc{
    flex: 1;
}
#arrow{
    width: 30%;
}


.match_h{
    display: flex;
    flex: 1;
}
.misc_h{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.logo_h{
    flex: 2;
}

.abv_and_rec_h{
    display: flex;
    flex-direction: column;
    flex: 1;
}
.abv_h{
    flex: 1;
}
.rec_h{
    flex: 1;
    font-size: 0.6em; 
    color: #999;
    margin: 0;
}
.score_h{
    display: flex;
    flex: 2;
    justify-content: center;
    align-items: center;
    font-size: 250%;
}