.eyenav:hover .eyenavdropdown{
    display: flex;
}

.eyenav:hover{
    cursor: pointer;
}

.eyenavdropdown{
    display: none;
    flex-direction: column;
    flex: 1;
    list-style-type: none;
    position: absolute;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
}

.eyenavdropdownitem{
    white-space: nowrap;
    padding: 1em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    
}

.eyenavdropdownitem:hover{
    cursor: pointer;
    color: rgb(174, 207, 178); 
}

.eyeall{
    background-color: rgb(0, 0, 0);
    text-decoration: underline;
}

.eye_visible{
    background-color: #242222;
}

.eye_hidden{
    background-color: #b3152a;
    text-decoration: line-through;
}