.navbar{
    position: sticky;
    top: 0;
    z-index: 10; /* arbitrary value */
}
.navbar *{
    background-color: rgb(45, 28, 52);
}

.navbar img{
    width: 2.1em;
    height: 2.1em; 
}

.navlist{
    list-style-type: none;
    padding-top: .5%;
    padding-bottom: .5%;
    display: flex;
    padding-left: .5%;
    padding-right: .5%;
}

.navlist > li{
    padding-inline: .4rem;
    padding-top: .05rem;
}

.align_right{
    margin-left: auto;
}

.navitem{
    position: relative;
}

.navdropdown{
    display: flex;
    /* display: none; */
    flex-direction: column;
    flex: 1;
    list-style-type: none;
    position: absolute;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
}

.navdropdown *{
    background-color: #242222;
}

.navdropdownitem{
    white-space: nowrap;
    padding: 1em 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navdropdownitem:hover{
    cursor: pointer;
    color: rgb(174, 207, 178); 
}

.navitem_eyeall{
    background-color: rgb(0, 0, 0);
    text-decoration: underline;
}


/* .eyematch_hidden{
    text-decoration: line-through;
    background-color: #b3152a;
} */