:root{
    font-family: 'Lexend', sans-serif;
    color: rgb(90, 167, 98);
    font-size: 3em;
}

body{
    background-color: rgb(71, 22, 49);
}

div{
    background-color: black;
    text-align: center;
}

.background_container{
    /* background-image: url(/static/images/test.jpg); */
    padding: 2%;
}

.match_container{
    display: flex;
    
}

.match_a{
    width: 50%;
    text-align: right;
    padding-right: 1%;

}

.match_h{
    width: 50%;
    text-align: left;
    padding-left: 1%;
}

.logos{
    width: 10%;
    height: 10%;
}




