<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NBA General Web Scraping</title>
    <!-- FONT / Lexend 600 bold --> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/base_styles.css')}}">
    {% block head_elems %}{% endblock %}
</head>
<body>

    <nav class="navbar">
        <ul>
            <div>
                <li><a href="http://127.0.0.1:5000"><img src="..//static//images//bball.svg"></a></li> <!-- temp link!! -->
                <li><a href="http://127.0.0.1:5000/boxscore"><img src="..//static//images//chart.svg"></a></li> <!-- temp link!! -->
                {% block eye_mini %}{% endblock %}
            </div>
            <div class="second_half">
                <li class="right_end"><a href=""><img src="..//static//images//bulb.svg"></a></li>
                <li class="right_end"><a href="https://github.com/Vicescq/NBA-Web-Scraping" target="_blank"><img src="..//static//images//github.svg"></a></li>
            </div>
        </ul>
    </nav>
    {% block content %}{% endblock %}
    
    {% if no_games %}
    <div id="nogames"> No games today! </div>
    {% endif %}
    
    
</body>
</html>