<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NBA General Web Scraping</title>
    <!-- FONT / Lexend 600 bold --> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/base_styles.css')}}">
    {% block head_elems %}{% endblock %}
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href="">HOME</a></li>
        </ul>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>