<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NBA General Web Scraping</title>
    <!-- FONT / Lexend 600 bold --> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='/css/base_styles.css')}}">
    {% block head_elems %}{% endblock %}
</head>
<body>
    <nav class="navbar">
        <ul>
            <div>
                <a href="http://127.0.0.1:5000"><img src="..//static//images//bball.svg"></a>
                <a href="http://127.0.0.1:5000/boxscore"><img src="..//static//images//chart.svg"></a>
                {% block eye_mini %}{% endblock %}
            </div>
            <div id="second_half">
                <a href=""><img src="..//static//images//bulb.svg"></a>
                <a href="https://github.com/Vicescq/NBA-Web-Scraping" target="_blank"><img src="..//static//images//github.svg"></a>
            </div> 
        </ul>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>