{% extends "base.html" %}
{% block head_elems %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/boxscore_styles.css')}}">
{% endblock %}

{% block content %}
<div class="boxscore_header wrapper">
    
    <div class="away_team">
        <div class="name_and_rec_a">

            <div class="name_a">
                <span class="name_a1">{{matchup[0]}}</span>
                <span class="name_a2">{{matchup[1]}}</span>
            </div>
            <div class="rec_a">{{team_records[0]}}</div>
        </div>
        <div class="logo_a">
            <img src="{{logos[0]}}">
        </div>
    </div>
    
    <div class="scores_and_state">
        {{livescores[0]}} - {{livescores[1]}}
    </div>
    
    <div class="home_team">
        <div class="logo_h">
            <img src="{{logos[1]}}">
        </div>
        <div class="name_and_rec_h">
            <div class="name_h">
                <span class="name_h1">{{matchup[2]}}</span>
                <span class="name_h2">{{matchup[3]}}</span>
            </div>
            <div class="rec_h"></div>
            
        </div>
    </div>
</div>
<hr class="divider">

{% endblock %}