{% extends "base.html" %}
{% block head_elems %}
<link rel="stylesheet" href="{{url_for('static', filename='/css/boxscore_styles.css')}}">
{% endblock %}

{% block content %}
<div class="boxscore_header wrapper">
    <div class="away_team">
        <div class="name_and_rec_a">
            {{matchup[0]}}
        </div>
        <div class="logo_a">
            <img src="{{logos[0]}}">
        </div>
    </div>
    <div class="scores_and_state">
        {{livescores[0]}} - {{livescores[1]}}
    </div>
    <div class="home_team">
        <div class="name_and_rec_h">
            {{matchup[1]}}
        </div>
        <div class="logo_h">
            <img src="{{logos[1]}}">
        </div>
    </div>



</div>


{% endblock %}