<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
    <title>NBA General Web Scraping</title>
    
    <!-- FONT / Lexend 600 bold --> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@600&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <h1>NBA Games</h1>
    
    {% if not game_count %}
    <div id="nogames"> No games today! </div>

    {% else %}
        {% for i in range(game_count) %}
            <div class="match_container" id="match_container_{{i}}">
                
                <div class="match_a">
                    <div class="score_a" id="score_a_{{i}}"></div>
                    <div class="misc_a">
                        <div class="logo_a">
                            <img id="logo_a_{{i}}">
                        </div>
                        <div class="abv_and_rec_a">
                            <div class="abv_a" id="abv_a_{{i}}"></div>
                            <p class="rec_a" id="rec_a_{{i}}"></p>
                        </div>
                    </div>
                </div>
                
                <div class="match_mid">      
                    <div class="match_status" id="match_status_{{i}}"></div>
                    <div class="match_loc">
                        <img id="arrow" src="..\static\images\right-arrow.png">
                    </div>
                </div>
                
                <div class="match_h"> 
                    <div class="misc_h">
                        <div class="logo_h">
                            <img id="logo_h_{{i}}">
                        </div>
                        <div class="abv_and_rec_h">
                            <div class="abv_h" id="abv_h_{{i}}"></div>
                            <p class="rec_h" id="rec_h_{{i}}">  </p>
                        </div>
                    </div>
                    <div class="score_h" id="score_h_{{i}}"> </div>
                </div>

            </div>
        {% endfor %}
    {% endif %}
    <script>
        var jsvalid_data = JSON.parse('{{ data|tojson|safe }}')
        set_homevalues(jsvalid_data)
    </script>
</body>
</html>
