{% extends "base.html" %}

{% block head_elems %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='/js/home_scripts.js') }}"></script>
<link rel="stylesheet" href="{{url_for('static', filename='/css/home_styles.css')}}">
{% endblock %}

{% block eye_mini %} 
<a href=""><img src="..//static//images//eye.svg"></a> 
<a href=""><img src="..//static//images//minimize.svg"></a> 
{% endblock %}
{% block content %}
    <h1>NBA Games</h1>
    
    {% if not game_count %}
    <div id="nogames"> No games today! </div>

    {% else %}
        {% for i in range(game_count) %}
        <div class="match_container_wrapper" id="match_container_wrapper{{i}}">
                <a href="" id="match_link">
                <div class="match_container">
                    <div class="match_a">
                        <div class="score_a_wrapper">
                            <p id="score_a_{{i}}"></p>
                        </div>
                        <div class="misc_a">
                            <div class="logo_a">
                                <img id="logo_a_{{i}}">
                            </div>
                            <div class="abv_and_rec_a">
                                <p class="abv_a" id="abv_a_{{i}}"></p>
                                <p class="rec_a" id="rec_a_{{i}}"></p>
                            </div>
                        </div>
                    </div>
                    
                    <div class="match_mid">      
                        <div class="match_status" id="match_status_{{i}}"></div>
                        <div class="match_loc">
                            <img id="at-loc" src="..\static\images\at-loc.svg">
                        </div>
                    </div>
                    
                    <div class="match_h"> 
                        <div class="misc_h">
                            <div class="logo_h">
                                <img id="logo_h_{{i}}">
                            </div>
                            <div class="abv_and_rec_h">
                                <p class="abv_h" id="abv_h_{{i}}"></p>
                                <p class="rec_h" id="rec_h_{{i}}">  </p>
                            </div>
                        </div>
                        <div class="score_h_wrapper"> 
                            <p id="score_h_{{i}}"></p>
                        </div>
                    </div>
                </div>
            </a>
            </div>
        {% endfor %}
    {% endif %}
    <script>
        var jsvalid_data = {{ data|tojson|safe }}
        set_homevalues(jsvalid_data, 1)
    </script>
{% endblock %}

