<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>NBA General Web Scraping</title>
    
    <!-- FONT / Lexend 600 bold --> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@600&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
    
    <script>
        // $(document).ready(function(){
            
        //     function update_values(){
        //         $.get("/update", function(data){
        //             $("#test").text(JSON.stringify(data))
        //         })
        //     }
        //     setInterval(update_values, 2000)
        // })
    </script>
</head>



<body>
    <h1>NBA Games</h1>
    
    {% if not game_count %}
    <div id="nogames"> No games today! </div>

    {% else %}
    {% for i in range(game_count) %}
    <div class="match_container"> 

        <div class="match_container">
            <div class="match_a">
                <div class="score_a"> {{livescores[i][0]}} </div>
                <div class="misc_a">
                    <div class="logo_a">
                        <img id="logo_a_{{i}}">
                        <script>
                            var logo_path = "..\\static\\images\\logos\\" + "{{matchups[i][0]}}" + ".svg"
                            document.getElementById("logo_a_{{i}}").src=logo_path
                        </script>

                    </div>
                    <div class="abv_and_rec_a">
                        <div class="abv_a"> {{matchups[i][0]}} </div>
                        <p class="rec_a"> {{team_records[i][0]}} </p>
                    </div>
                </div>
            </div>
            
            <div class="match_mid">      
                <div class="match_status"> {{game_status[i]}} </div>
                <div class="match_loc">
                    <img id="arrow" src="..\static\images\right-arrow.png">
                </div>
            </div>
            
            <div class="match_h"> 
                <div class="misc_h">
                    <div class="logo_h">
                        <img id="logo_h" src="..\static\images\logos\DEN.svg">
                    </div>
                    <div class="abv_and_rec_h">
                        <div class="abv_h"> {{matchups[i][1]}} </div>
                        <p class="rec_h"> {{team_records[i][1]}} </p>
                    </div>
                </div>
                <div class="score_h"> {{livescores[i][1]}} </div>
            </div>
        </div>
    
    
        




    </div>
    {% endfor %}
    {% endif %}
    
    
    


    

</body>
</html>
