<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>NBA General Web Scraping</title>
    <!-- FONT / Lexend 600 bold --> 
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
    <h1>Header!</h1>
    
    {% if not game_count %}
    <div> No games today! </div>

    {% else %}
    {% for i in range(game_count) %}
    <div> {{matchups[i]}} </div>
    {% endfor %}
    {% endif %}

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, numquam perspiciatis? Numquam velit voluptate modi vel sit voluptates odit harum. Iusto assumenda minima eos aspernatur ducimus eveniet dolor expedita accusantium?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, numquam perspiciatis? Numquam velit voluptate modi vel sit voluptates odit harum. Iusto assumenda minima eos aspernatur ducimus eveniet dolor expedita accusantium?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam, numquam perspiciatis? Numquam velit voluptate modi vel sit voluptates odit harum. Iusto assumenda minima eos aspernatur ducimus eveniet dolor expedita accusantium?</p>
</body>
</html>
